<%- include('../partials/header_after_login.ejs') %>
  <div class="empty px-0 ">
    <div class="col col-10 col-lg-6 mt-5 mt-lg-0 mx-auto">
      <img src="/img/404_img2.svg" alt="404_image" />
    </div>
    <div class="empty-action">
      <a onclick="history.back()" class="btn btn-primary ">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
          stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M5 12l14 0"></path>
          <path d="M5 12l6 6"></path>
          <path d="M5 12l6 -6"></path>
        </svg>
        Take me back
      </a>
    </div>
  </div>
  <%- include('../partials/footer_after_login.ejs') %>