<div class="feedback-popout position-fixed end-0  z-5 ms-0 ">
   <div class="feedback-min-max" >
      <div class="btn-hide">
         <button class="feedback-custom-btn position-fixed  me-0 hover" >
            <svg xmlns="http://www.w3.org/2000/svg" style="width: 50px; height:35px; padding:2px 0;" class="icon icon-tabler  icon-tabler-message-chatbot" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
               <path d="M4 21v-13a3 3 0 0 1 3 -3h10a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-9l-4 4"></path>
               <path d="M9.5 9h.01"></path>
               <path d="M14.5 9h.01"></path>
               <path d="M9.5 13a3.5 3.5 0 0 0 5 0"></path>
            </svg>
            <!-- <button class="position-absolute feedback_minimize_button" style="bottom: 60px; right: 60px; background-color: green; z-index:1500">minimize</button> -->
         </button>
      </div>
      <!-- <img src="/img/minimum.png" alt="" class="min_max_btn" > -->
      <button class="feedback-min-btn position-fixed align-baseline"  data-bs-toggle="tooltip"  data-bs-custom-class="color-tooltip" data-bs-placement="top" data-bs-title="Close Feedback" >
         <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler align-basline icon-tabler-chevron-right" style="padding-right:1px;" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M9 6l6 6l-6 6"></path>
         </svg>
      </button>
   </div>
   <button class="feedback-custom-btn2 position-fixed  d-none me-0 "  id="feedback_form">
      <svg xmlns="http://www.w3.org/2000/svg" style="width: 25px; height:23px; padding:0 3px 1px 0;" class="icon icon-tabler  icon-tabler-send" width="21" height="21" viewBox="0 0 21 21" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
         <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
         <path d="M10 14l11 -11"></path>
         <path d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5"></path>
      </svg>
   </button>
   <div class="feedback-panel position-absolute bottom-0 overflow-hidden">
      <div class="feedback-panel-header ">
         <div class="d-flex justify-content-between align-items-center ">
            <h2 class="text-white text-wrap"> <span class="text-wrap"> Hi <%= user.first_name %> welcome <img src="/img/feedback-welcome.png" alt="" ></span></h2>
            <button class="feedback-close-btn text-white ms-atuo z-5  "  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Close" data-bs-custom-class="color-tooltip" id="feedback_close_btn">
               <svg xmlns="http://www.w3.org/2000/svg" style="padding-left: 0px; padding:2px;" class="icon icon-tabler  icon-tabler-chevron-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M6 9l6 6l6 -6"></path>
               </svg>
            </button>
         </div>
      </div>
      <div class="feedback-panel-background" >
         <h3 class="mb-3  text-justify align-middle"> we value your feedback so please share your valuable feedback here</h3>
      </div>
      <div class="feedback-panel-body d-flex justify-content-center align-items-center " >
         <div class="feedback-animation ">
            <form action="/feedback/post" method="post" enctype="multipart/form-data" >
               <div class="mb-3"  >
                  <label class="form-label">Feedback Type</label>
                  <div class="form-selectgroup">
                     <label class="form-selectgroup-item">
                     <input type="radio" id="Suggestion" value="Suggestion" name="feedback_type" class="form-selectgroup-input feedback-checkbox" >
                     <span class="form-selectgroup-label feedback-category-style">Suggestion</span>
                     </label>
                     <!-- <label class="form-selectgroup-item">
                        <input type="radio" id="Optimization" value="Optimization" name="feedback_type"  class="form-selectgroup-input feedback-checkbox">
                        <span class="form-selectgroup-label feedback-category-style" >Optimization</span>
                        </label> -->
                     <label class="form-selectgroup-item" >
                     <input type="radio" id="Feedback" value="Feedback" name="feedback_type"  class="form-selectgroup-input feedback-checkbox">
                     <span class="form-selectgroup-label feedback-category-style" >Feedback</span>
                     </label>
                     <label class="form-selectgroup-item">
                     <input type="radio" id="Improvement" name="feedback_type"  name="feedback_type"   value="Improvement" class="form-selectgroup-input feedback-checkbox">
                     <span class="form-selectgroup-label feedback-category-style" >Improvement</span>
                     </label>
                     <label class="form-selectgroup-item">
                     <input type="radio" id="Issue" value="Issue" name="feedback_type"  class="form-selectgroup-input feedback-checkbox">
                     <span class="form-selectgroup-label feedback-category-style"  >Issue</span>
                     </label>
                  </div>
               </div>
               <textarea class="form-control feedback-custom-textarea mb-3" name="example-textarea-input"  rows="1" cols="15" placeholder="Enter here.."id="user_feedback" name="user_feedback"></textarea>
               <div >
                  <div class="form-label">Upload Image <span class="text-info fs-6 fw-normal">File size need to be less than 5MB</span></div>
                  <input type="file" name="files" accept=".jpg,.jpeg,.png" class="form-control" multiple >
               </div>
               <small class="feedback-error-message h6 mt-1 text-center d-block text-danger invisible" style="margin-bottom: 0px;">Error Message</small>
               <!-- <span class="feedback-error-message h6 mt-1 text-center d-block text-danger invisible" style="margin-bottom: 0px;">Please select any one Feedback type</span> -->
               <!-- <small class="feedback-image-error-message h6 mt-1 text-center d-block text-danger invisible" style="margin-bottom: 0px;">Only jpeg,jpg and png files are supported</small> -->
            </form>
         </div>
         <span class="feedback-success-message  d-block text-center  ">
            <div class="d-flex justify-content-center align-items-center flex-column text-muted">
               <svg xmlns="http://www.w3.org/2000/svg" style="padding-top: .5rem; width:600px; height:60px" class="icon text-success  icon-tabler icon-tabler-circle-check-filled" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z" stroke-width="0" fill="currentColor"></path>
               </svg>
               <b> Thank you for your feedback</b>
            </div>
         </span>
      </div>
   </div>
</div>
<footer class="footer footer-transparent d-print-none">
   <div class="container-xl">
      <div class="row text-center align-items-center flex-row-reverse">
         <div class="col-12 col-lg-auto mt-3 mt-lg-0">
            <ul class="list-inline list-inline-dots mb-0">
               <li class="list-inline-item">
                  &copy;
                  <a href="https://novalnet.com" class="link-secondary" target="_blank">Novalnet</a>
                  2023
               </li>
            </ul>
         </div>
      </div>
   </div>
</footer>
</div>
</div>
<div class="modal modal-blur fade" id="modal-user" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">New User</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <form method="post" class="form-control">
               <div class="mb-3">
                  <div class="form-label">Company</div>
                  <select class="form-select" name="company" id="company">
                     <option value="1">Novalnet AG</option>
                     <option value="2">Novalnet e-solutions</option>
                     <option value="3">Novalnet Ltd</option>
                     <option value="4">Novalnet Payment Corp</option>
                  </select>
               </div>
               <div class="row">
                  <div class="col-lg-6">
                     <div class="mb-3">
                        <label class="form-label">First Name</label>
                        <input type="text" name="first_name" id="first_name" class="form-control" required>
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="mb-3">
                        <label class="form-label">Last Name</label>
                        <input type="text" name="last_name" id="last_name" class="form-control" required>
                     </div>
                  </div>
               </div>
               <div class="mb-3">
                  <div class="form-floating mb-3">
                     <input type="email" name="email" id="email" class="form-control" autocomplete="off" required>
                     <label for="email">Email address</label>
                     <div id="email_error" class="invalid-feedback"></div>
                  </div>
                  <div class="input-group input-group-flat">
                     <input type="password" class="form-control" id="password" name="password" placeholder="Your password"  autocomplete="off">
                     <span id="show-password" class="input-group-text">
                        <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip">
                           <!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                           <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                              <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                              <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                           </svg>
                        </a>
                     </span>
                  </div>
               </div>
               <div class="mb-3">
                  <label class="form-label">Abbreviation</label>
                  <input type="text" name="abbreviation" id="abbreviation" class="form-control" required>
               </div>
               <div class="mb-3">
                  <label class="form-check">
                  <input class="form-check-input" type="checkbox" name="admin" id="admin">
                  <span class="form-check-label">Admin</span>
                  </label>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
            Cancel
            </a>
            <button class="btn btn-primary ms-auto create-user">Create</button>
         </div>
      </div>
   </div>
</div>
<div class="modal modal-blur fade" id="modal-ticket" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">New ticket</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <div class="mb-3">
               <div class="form-label">Application</div>
               <select class="form-select" >
                  <option value="Gateway Server">Gateway Server</option>
                  <option value="Processing Server">Processing Server</option>
                  <option value="Application Server">Application Server</option>
                  <option value="Bookkeeping Server">Bookkeeping Server</option>
                  <option value="Seamless Payment Form">Seamless Payment Form</option>
                  <option value="Extapi Server">Extapi Server</option>
               </select>
            </div>
            <div class="row">
               <div class="col-lg-6">
                  <div class="mb-3">
                     <div class="form-label">Type</div>
                     <select class="form-select">
                        <option value="Issue">Issue</option>
                        <option value="Requirement">Requirement</option>
                        <option value="Question">Question</option>
                     </select>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="mb-3">
                     <div class="form-label">Priority</div>
                     <select class="form-select">
                        <option value="Low">Low</option>
                        <option value="Normal">Normal</option>
                        <option value="High">High</option>
                        <option value="Urgent">Urgent</option>
                     </select>
                  </div>
               </div>
            </div>
            <div class="mb-3">
               <div class="form-label">Assignes</div>
               <select class="form-select">
               </select>
            </div>
            <div class="mb-3">
               <label class="form-label">Subject</label>
               <input type="text" class="form-control" name="example-text-input" placeholder="Your subject">
            </div>
            <div class="mb-3">
               <label class="form-label">Description</label>
               <textarea class="form-control" data-bs-toggle="autosize" placeholder="Ticket Description"></textarea>
            </div>
            <div class="mb-3">
               <label class="form-label">Deadline</label>
               <div class="input-icon mb-2">
                  <input class="form-control " placeholder="Select a date" id="datepicker-icon" value="2023-07-03">
                  <span class="input-icon-addon">
                     <!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"></path>
                        <path d="M16 3v4"></path>
                        <path d="M8 3v4"></path>
                        <path d="M4 11h16"></path>
                        <path d="M11 15h1"></path>
                        <path d="M12 15v3"></path>
                     </svg>
                  </span>
               </div>
            </div>
            <div class="col-lg-12">
               <div>
                  <label class="form-label">Additional information</label>
                  <textarea class="form-control" rows="3" placeholder=""></textarea>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
            Cancel
            </a>
            <a href="#" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
            Create
            </a>
         </div>
      </div>
   </div>
</div>
<div class="modal modal-blur fade" id="modal-view-text" tabindex="-1" style="display: none;" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">Comment</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body check-modal text-wrap text-break text-muted" >
         </div>
         <div class="modal-footer">
            <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button> -->
         </div>
      </div>
   </div>
</div>
<div class="modal modal-blur fade" id="modal-view-image" tabindex="-1" style="display: none;" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable " role="document" >
      <div class="modal-content feedback-image-modal-width" >
         <div class="modal-header">
            <h5 class="modal-title">Uploaded Image </h5>
            <!-- <div class="d-flex justify-content-center align-items-center mt-2">
               <a download='file' href="" class="buttonDownload " >
               Download
               </a> 
               
            </div> -->
            <p class="text-cyan fs-5 my-auto">Click on Image to download</p>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body modal-append check-modal d-flex justify-content-center align-items-center flex-wrap text-wrap text-break text-muted position-relative"   >
            <!-- <figure class="zoom d-block mx-auto "  >
               <img src="" alt="Image"  class=" d-block mx-auto feedback-image" >
            </figure> -->
            <!-- <img src="" alt="Image" id="feedback-image"  style=" background-size: contain; background-position: center; background-repeat: no-repeat;"> -->
      
         </div>
         <!-- <div class="modal-footer"> 
            <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
            </div> -->
      </div>
   </div>
</div>
<!-- Libs JS -->
<!-- <script src="/js/libs/tinymce/tinymce.min.js?1684106062" defer integrity="sha384-OLBgp1GsljhM2TJ+sbHjaiH9txEUvgdDTAzHv2P24donTt6/529l+9Ua0vFImLlb" ></script> -->
<script src="/js/libs/tinymce/tinymce.min.js?1684106062" defer  ></script>
<!-- <script src="/js/libs//list.js/dist/list.min.js?1684106062" defer integrity="sha384-FhEOA/pIE4BfDuwGksHaZD8ms5j+dfB9QIWo7naDMzAVoCE1My4G2iu8/n/R3AAH" ></script> -->
<script src="/js/libs//list.js/dist/list.min.js?1684106062" defer ></script>
<!-- Tabler Core -->
<!-- <script src="/js/custom.js" type="module" integrity="sha384-7LFKVrxXrXfS2/xS3wIgdrmK3SOsE44r90oS55+U4ZkcIZvLqgRUokxZAYf1doxw" ></script>
   <script src="/js/libs/tabler.min.js?1684106062" defer integrity="sha384-DnBu3uHMkeDdH3JZaljVS533JqQjgcRVO+uZ3YiBXQYcYITM6HER+4+RPGobVEEZ" ></script>
   <script src="/js/libs/demo.min.js?1684106062" defer integrity="sha384-k4L9IJ8+0+I//R0JYBMs1NZtq1eltub4dJWdi9XuO0AWKAAIsEInCaNw7VZiSGFi" ></script> -->
<script src="/js/custom.js" type="module"></script>
<!-- <script src="/js/ckeditor.js" type="module"></script>
   -->
<!-- code to add texteditor in textarea -->
<!-- <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
   <script>CKEDITOR.replace('ticket_comments')</script> -->
<!-- code ends -->
<script src="/js/libs/tabler.min.js?1684106062" defer ></script>
<script src="/js/libs/demo.min.js?1684106062" defer ></script>
</body>
</html>