
    <div class="intro-y block sm:flex items-center h-10">
        <h2 class="text-lg font-medium truncate mr-5">
            General Report
        </h2>
        <select class="sm:ml-auto mt-3 sm:mt-0 sm:w-auto form-select box">
            <option value="daily">Daily</option>
            <option value="weekly" selected="">Weekly</option>
            <option value="monthly">Monthly</option>
            <option value="yearly">Yearly</option>
            <option value="custom-date">Custom Date</option>
        </select>
    </div>
    <div class="report-box-2 intro-y mt-12 sm:mt-5">
        <div class="box sm:flex"> 
        <div class="px-8 py-12 flex flex-col justify-center flex-1 border-t sm:border-t-0 sm:border-l border-slate-200 dark:border-darkmode-300 border-dashed">
                <div class="text-slate-500 text-xs">TOTAL TRANSACTION</div>
                <div class="mt-1.5 flex items-center">
                    <div class="text-base">121775</div>
                    <div class="text-danger flex text-xs font-medium tooltip cursor-pointer ml-2"> 2% <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="chevron-down" data-lucide="chevron-down" class="lucide lucide-chevron-down w-4 h-4 ml-0.5"><polyline points="6 9 12 15 18 9"></polyline></svg> </div>
                </div>
                <div class="text-slate-500 text-xs mt-5">SUCCESS</div>
                <div class="mt-1.5 flex items-center">
                    <div class="text-base">84000</div>
                    <div class="text-success flex text-xs font-medium tooltip cursor-pointer ml-2"> 20% <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="chevron-up" data-lucide="chevron-up" class="lucide lucide-chevron-up w-4 h-4 ml-0.5"><polyline points="18 15 12 9 6 15"></polyline></svg> </div>
                </div>
                <div class="text-slate-500 text-xs mt-5">HOLD</div>
                <div class="mt-1.5 flex items-center">
                    <div class="text-base">72000</div>
                    <div class="text-danger flex text-xs font-medium tooltip cursor-pointer ml-2"> 2% <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="chevron-down" data-lucide="chevron-down" class="lucide lucide-chevron-down w-4 h-4 ml-0.5"><polyline points="6 9 12 15 18 9"></polyline></svg> </div>
                </div>
                <div class="text-slate-500 text-xs mt-5">FAILED</div>
                <div class="mt-1.5 flex items-center">
                    <div class="text-base">54000</div>
                    <div class="text-danger flex text-xs font-medium tooltip cursor-pointer ml-2"> 4% <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="chevron-down" data-lucide="chevron-down" class="lucide lucide-chevron-down w-4 h-4 ml-0.5"><polyline points="6 9 12 15 18 9"></polyline></svg> </div>
                </div> 
            </div>
            <div class="px-8 py-12 flex flex-col justify-center flex-1 border-t sm:border-t-0 sm:border-l border-slate-200 dark:border-darkmode-300 border-dashed">
                <div class="text-slate-500 text-xs">TOTAL MERCHANTS</div>
                <div class="mt-1.5 flex items-center">
                    <div class="text-base">1215</div>
                    <div class="text-danger flex text-xs font-medium tooltip cursor-pointer ml-2"> 2% <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="chevron-down" data-lucide="chevron-down" class="lucide lucide-chevron-down w-4 h-4 ml-0.5"><polyline points="6 9 12 15 18 9"></polyline></svg> </div>
                </div>
                <div class="text-slate-500 text-xs mt-5">LIVE</div>
                <div class="mt-1.5 flex items-center">
                    <div class="text-base">84</div>
                    <div class="text-success flex text-xs font-medium tooltip cursor-pointer ml-2"> 20% <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="chevron-up" data-lucide="chevron-up" class="lucide lucide-chevron-up w-4 h-4 ml-0.5"><polyline points="18 15 12 9 6 15"></polyline></svg> </div>
                </div>
                <div class="text-slate-500 text-xs mt-5">TEST</div>
                <div class="mt-1.5 flex items-center">
                    <div class="text-base">72</div>
                    <div class="text-danger flex text-xs font-medium tooltip cursor-pointer ml-2"> 2% <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="chevron-down" data-lucide="chevron-down" class="lucide lucide-chevron-down w-4 h-4 ml-0.5"><polyline points="6 9 12 15 18 9"></polyline></svg> </div>
                </div>
                <div class="text-slate-500 text-xs mt-5">CANCELLED</div>
                <div class="mt-1.5 flex items-center">
                    <div class="text-base">15</div>
                    <div class="text-danger flex text-xs font-medium tooltip cursor-pointer ml-2"> 4% <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="chevron-down" data-lucide="chevron-down" class="lucide lucide-chevron-down w-4 h-4 ml-0.5"><polyline points="6 9 12 15 18 9"></polyline></svg> </div>
                </div> 
            </div>
            <div class="px-8 py-12 flex flex-col justify-center flex-1 border-t sm:border-t-0 sm:border-l border-slate-200 dark:border-darkmode-300 border-dashed">
                <div class="text-slate-500 text-xs">TOTAL LEADS</div>
                <div class="mt-1.5 flex items-center">
                    <div class="text-base">121775</div>
                    <div class="text-danger flex text-xs font-medium tooltip cursor-pointer ml-2"> 2% <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="chevron-down" data-lucide="chevron-down" class="lucide lucide-chevron-down w-4 h-4 ml-0.5"><polyline points="6 9 12 15 18 9"></polyline></svg> </div>
                </div>
                <div class="text-slate-500 text-xs mt-5">RECEIVED</div>
                <div class="mt-1.5 flex items-center">
                    <div class="text-base">84000</div>
                    <div class="text-success flex text-xs font-medium tooltip cursor-pointer ml-2"> 20% <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="chevron-up" data-lucide="chevron-up" class="lucide lucide-chevron-up w-4 h-4 ml-0.5"><polyline points="18 15 12 9 6 15"></polyline></svg> </div>
                </div>
                <div class="text-slate-500 text-xs mt-5">PROCESSED</div>
                <div class="mt-1.5 flex items-center">
                    <div class="text-base">72000</div>
                    <div class="text-danger flex text-xs font-medium tooltip cursor-pointer ml-2"> 2% <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="chevron-down" data-lucide="chevron-down" class="lucide lucide-chevron-down w-4 h-4 ml-0.5"><polyline points="6 9 12 15 18 9"></polyline></svg> </div>
                </div> 
                <div class="text-slate-500 text-xs mt-5">CONVERTED TO MID</div>
                <div class="mt-1.5 flex items-center">
                    <div class="text-base">54000</div>
                    <div class="text-danger flex text-xs font-medium tooltip cursor-pointer ml-2"> 4% <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="chevron-down" data-lucide="chevron-down" class="lucide lucide-chevron-down w-4 h-4 ml-0.5"><polyline points="6 9 12 15 18 9"></polyline></svg> </div>
                </div> 
            </div>
        </div>
    </div>
