

    <div class="intro-y flex items-center h-10">
        <h2 class="text-lg font-medium truncate mr-5">
                 Suspicious transactions
        </h2>
    </div>
    <div class="mt-5">
        <div class="intro-y">
            <div class="box px-4 py-4 mb-3 flex items-center zoom-in">
                <div class="w-10 h-10 flex-none image-fit rounded-md overflow-hidden">
                    <img alt="Midone - HTML Admin Template" src="/images/profile.jpg">
                </div>
                <div class="ml-4 mr-auto">
                    <div class="font-medium">Truevardy GmbH</div>
                    <div class="text-slate-500 text-xs mt-0.5">Class: C | From: 21.06.2018</div>
                </div>
                <div class="py-1 px-2 rounded-full text-xs bg-success text-white cursor-pointer font-medium">265 TIDs
                </div>
            </div>
        </div>
        <div class="intro-y">
            <div class="box px-4 py-4 mb-3 flex items-center zoom-in">
                <div class="w-10 h-10 flex-none image-fit rounded-md overflow-hidden">
                    <img alt="Midone - HTML Admin Template" src="/images/profile.jpg">
                </div>
                <div class="ml-4 mr-auto">
                    <div class="font-medium">Olaf Jacobi</div>
                    <div class="text-slate-500 text-xs mt-0.5">Class: D | From: 21.06.2015</div>
                </div>
                <div class="py-1 px-2 rounded-full text-xs bg-success text-white cursor-pointer font-medium">150 TIDs
                </div>
            </div>
        </div>
        <div class="intro-y">
            <div class="box px-4 py-4 mb-3 flex items-center zoom-in">
                <div class="w-10 h-10 flex-none image-fit rounded-md overflow-hidden">
                    <img alt="Midone - HTML Admin Template" src="/images/profile.jpg">
                </div>
                <div class="ml-4 mr-auto">
                    <div class="font-medium">T-Tronix GmbH (B)</div>
                    <div class="text-slate-500 text-xs mt-0.5">Class: B | From: 21.06.2021</div>
                </div>
                <div class="py-1 px-2 rounded-full text-xs bg-success text-white cursor-pointer font-medium">75 TIDs
                </div>
            </div>
        </div>
        <div class="intro-y">
            <div class="box px-4 py-4 mb-3 flex items-center zoom-in">
                <div class="w-10 h-10 flex-none image-fit rounded-md overflow-hidden">
                    <img alt="Midone - HTML Admin Template" src="/images/profile.jpg">
                </div>
                <div class="ml-4 mr-auto">
                    <div class="font-medium">Interbook GmbH</div>
                    <div class="text-slate-500 text-xs mt-0.5">Class: C | From: 21.06.2022</div>
                </div>
                <div class="py-1 px-2 rounded-full text-xs bg-success text-white cursor-pointer font-medium">50 TIDs
                </div>
            </div>
        </div>
        <a href=""
            class="intro-y w-full block text-center rounded-md py-4 border border-dotted border-slate-400 dark:border-darkmode-300 text-slate-500">View
            More</a>
    </div>

