<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="msapplication-config" content="none">
  <title>Welcome to Ticketing System.</title>
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  <link href="/css/libs/bootstrap.min.css?1684106062" rel="stylesheet"
    integrity="sha384-kxp5nJ44qjb6xr6vaRswG8/oGO8hvOLE7/Nzjvub4utW5GmvWRd8OA5X2f+xrZWk" />
  <link href="/css/custom.css" rel="stylesheet"
    integrity="sha384-TLYiG3UtyyAuQSupPLJa1bLgY4PL4XNAWoJkksVYXXeuo1hYy29JFbA1jZe85umo">
</head>
<body>
  <div class="page-body">
    <div class="container-xl" >
      <div class="empty" style="margin-top:200px">
        <div class="empty-img"><img src="https://preview.tabler.io/static/illustrations/undraw_printing_invoices_5r4r.svg" alt="" height="128">
        </div>
        <p class="empty-title">Link is not valid anymore</p>
        <p class="empty-subtitle text-secondary">
         Oops! This invite URL is not valid anymore
        </p>
        <div class="empty-action">
          <a href="/" class="btn btn-primary">
            Go to Login
          </a>
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/footer_before_login.ejs') %>
