<%- include('../partials/header_before_login.ejs') %>
<div class="alert visually-hidden position-relative text-center shadow-lg " id="alert">
  <h4 class="alert-title"></h4>
  <div class="text-secondary" id="alert_message"></div>
</div>
  <div class="card card-md" autocomplete="off" novalidate="">
    <div class="card-body shadow">
      <h2 class="text-center mb-3">Forgot password</h2>
      <p class="text-secondary mb-4" style="word-spacing: 4px;">Enter the email address which is associated with your
        account. We will send a link to reset your password.</p>
      <div class="mb-1">
        <label class="form-label" for="email">Enter your email address</label>
        <input type="email" id="email" class="form-control" placeholder="Enter email" name="email">
      </div>
      <div id="email_error" class="position-absolute text-danger" style="display: none;">
      </div>
      <div class="form-footer">
        <div class="input-icon mb-3 ">
          <button id="submit_btn" class="btn btn-primary w-100">
            <!-- Download SVG icon from http://tabler-icons.io/i/mail -->
            Reset password
          </button>
          <span class="input-icon-addon">
            <div class="spinner-border spinner-border-sm text-white visually-hidden" id="loadingSpinner" role="status">
            </div>
          </span>
        </div>
        <div class="input-icon  ">
          <button id="resend_button" class="btn btn-primary w-100 visually-hidden mb-2">
            Resend password
          </button>
          <span class="input-icon-addon">
            <div class="spinner-border spinner-border-sm text-white visually-hidden ms-2" id="loadingSpinner-2"
              role="status">
            </div>
          </span>
        </div>
        <div class="mb-2 d-flex justify-content-between align-items-center" >
          <div id="timer_block" class="visually-hidden"> 
            <span class="text-secondary">
            Resend email in </span> <span class="text-secondary" id="timer">02:00</span>
          </div>

        </div>
      </div>
    </div>
 
  </div>
  <div class="text-center text-secondary mt-3">
    Forget it, <a href="/">send me back</a> to the sign in screen.
  </div>
  <!-- <div class="text-center text-secondary mt-3">
          Dont have an account ?, <a href="./sign-in.html">Sign up</a> to the sign in screen.
        </div> -->


  <%- include('../partials/footer_before_login.ejs') %>