<%- include('../partials/header_before_login.ejs') %>
<div class="alert visually-hidden alert-important text-white position-relative" id="alert" ></div>
<div class="card card-md ">
  <div class="card-body ">
    <h2 class="h2 text-center mb-4"><%=title %></h2>
    <div id="loginForm" >
      <div class="mb-2">
        <label class="form-label" for="newpassword">
          New password 
          <span class="form-label-description">
          </span>
        </label>
        <div class="input-group input-group-flat">
          <input type="password" class="form-control" id="newpassword" name="newpassword" placeholder="New password"  value="" autocomplete="off">
          <span id="show-password" class="input-group-text">
            <a href="#" id="show-newpassword" class="link-secondary" aria-label="Show password" data-bs-original-title="Show password" data-bs-toggle="tooltip"><!-- Download SVG icon from http://tabler-icons.io/i/eye -->
              <svg xmlns="http://www.w3.org/2000/svg" id="svg_hide" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
            </a>
          </span>
        </div>
        <div id="newpassword_error" class=" text-danger mt-2" style="display: none;"></div>
      </div> 
      <div class="mb-2" >
        <label class="form-label" for="confirmpassword">
          Confirm password 
          <span class="form-label-description">
          </span>
        </label>
        <div class="input-group input-group-flat">
          <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Confirm password"  autocomplete="off">
          <span id="show-password"  class="input-group-text">
            <a href="#" class="link-secondary" id="show-confirmpassword" aria-label="Show password" data-bs-original-title="Show password" data-bs-toggle="tooltip"><!-- Download SVG icon from http://tabler-icons.io/i/eye -->
              <svg xmlns="http://www.w3.org/2000/svg" id="svg_hide" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
            </a>
          </span>
        </div>
        <div id="confirmpassword_error" class="text-danger mt-2" style="display: none;"></div>
      </div> 
      <div class="form-footer">
        <button type="button"  id="reset_btn" class="btn btn-primary w-100">Change password </button>
      </div>
    </div>
  </div>
</div> 
<%- include('../partials/footer_before_login.ejs') %>

