	</div>
    	</div>	
	<footer class="main-footer">
		<div class="pull-left"><a href="https://www.novalnet.com/privacy" target="_blank">Data Protection</a> | <a href="https://www.novalnet.com/imprint" target="_blank">Imprint</a></div>
		<div class="pull-right">© <a href="https://www.novalnet..com" target="_blank">Novalnet</a> 2023      </div>
	</footer>
  </body>
  <script src="/js/login.js" type="module" integrity="sha384-ixOiZex5FOCY+/9+P/lrfzMgnC95RTUqKmXkzuMMK9K2D+IVfqSBBkGEy+fZnwxC" ></script>
  <script src="/js/forgotpassword.js" type="module" integrity="sha384-ixOiZex5FOCY+/9+P/lrfzMgnC95RTUqKmXkzuMMK9K2D+IVfqSBBkGEy+fZnwxC"></script>
  </html>
