    <!-- BEGIN: Preview Modal Content -->
    <div id="preview-modal" class="modal" tabindex="-1" aria-hidden="true" style="height: 100vh; overflow-y: hidden;">
        <div class="modal-dialog " style="width: 60% !important;">
            <div class="fixed top-5" style="left: 14%;width: 70%;">
                <!-- BEGIN: Modal Header -->
                <div class="modal-header" style="background-color: rgb(0,128,200,0.9) ;">
                    <h2 class="font-medium  mr-auto text-white">Preview</h2>
                    <a role="button" class="absolute top-0 right-0 mt-3 mr-3" data-tw-dismiss="modal"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="stroke-1.5 w-8 h-8 text-slate-400"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></a>
                </div> <!-- END: Modal Header -->
                <!-- BEGIN: Modal Body -->
                <div id="preview-content" class="modal-body bg-slate-100 " style="height: 80vh;overflow-y:scroll;">
 
                </div>
                <!-- END: Modal Body -->
                <!-- BEGIN: Modal Footer -->
                <!-- <div class="modal-footer" style="background-color: rgb(0,128,200,0.9) ;"> <button type="button" data-tw-dismiss="modal" class="btn text-white btn-outline-secondary w-20 mr-1">Cancel</button> </div> END: Modal Footer -->
            </div>
        </div>
    </div> <!-- END: Modal Content -->
    