<%- include('../partials/header_login.ejs') %>
    <div class="content">
        <div
            class="max-w-full md:max-w-none rounded-[30px] md:rounded-none px-4 md:px-[22px] min-w-0 min-h-screen bg-slate-100 flex-1 md:pt-20 pb-10 mt-5 md:mt-1 relative dark:bg-darkmode-700 before:content-[''] before:w-full before:h-px before:block">
            <div class="flex items-center mt-8 intro-y">
                <h2 class="mr-auto text-lg font-medium">User Settings</h2>
                <button type="button" class="btn box mr-2 flex items-center ml-auto sm:ml-0 back-url"> <svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    icon-name="arrow-left" class="lucide lucide-arrow-left w-4 h-4 mr-2" data-lucide="arrow-left">
                    <line x1="19" y1="12" x2="5" y2="12"></line>
                    <polyline points="12 19 5 12 12 5"></polyline>
                </svg> Back </button>
            </div>
            <div class="grid grid-cols-12 gap-6">
                <div class="flex flex-col-reverse col-span-12 lg:col-span-4 2xl:col-span-3 lg:block">
                    <div class="mt-5 intro-y box">
                        <div class="relative flex items-center p-5">
                            <div class="w-12 h-12 image-fit"><img alt="Midone Tailwind HTML Admin Template"
                                    class="rounded-full" src="/images/Thangadurai.png"></div>
                            <div class="ml-4 mr-auto">
                                <div class="text-base font-medium">Thangadurai</div>
                                <div class="text-slate-500">Front end Engineer</div>
                            </div>
                            <!-- <div class="relative" data-headlessui-state=""><a class="cursor-pointer block w-5 h-5"
                                    id="headlessui-menu-button-:rl:" aria-haspopup="menu" aria-expanded="false"
                                    data-headlessui-state=""><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="stroke-1.5 w-5 h-5 text-slate-500">
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="19" cy="12" r="1"></circle>
                                        <circle cx="5" cy="12" r="1"></circle>
                                    </svg></a></div> -->
                        </div>
                        <div class="p-5 border-t border-slate-200/60 dark:border-darkmode-400">
                            <ul class="mtab" role="tablist">



                                <li class="flex">

                                    <a href="/settings/personal_information" class="py-2 flex">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="stroke-1.5 w-4 h-4 mr-2">
                                            <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
                                        </svg>Personal Information</a>
                                </li>

                                <li class="flex-1">
                                    <a href="/settings/my_dashboard" class="py-2 flex items-center">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-layout-grid w-4 h-4 mr-2">
                                        <rect width="7" height="7" x="3" y="3" rx="1"/>
                                        <rect width="7" height="7" x="14" y="3" rx="1"/>
                                        <rect width="7" height="7" x="14" y="14" rx="1"/>
                                        <rect width="7" height="7" x="3" y="14" rx="1"/>
                                      </svg>
                                        My Dashboard</a>
                                </li>

                                <!-- <li class="flex-1 ">
                                    <a href="/settings/change_password" class="flex py-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="stroke-1.5 w-4 h-4 mr-2">
                                            <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                            <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                                        </svg>
                                        Change Password</a>
                                </li> -->

                                <li class="flex-1 font-medium">
                                    <a href="javascript:void(0);" class="flex py-2 text-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="stroke-1.5 w-4 h-4 mr-2">
                                            <path
                                                d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z">
                                            </path>
                                            <circle cx="12" cy="12" r="3"></circle>
                                        </svg>
                                        User Settings</a>
                                </li>

                            </ul>
                            <!-- <div class="flex p-5 border-t border-slate-200/60 dark:border-darkmode-400"><button
                                    type="button"
                                    class="transition duration-200 border shadow-sm inline-flex items-center justify-center rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&amp;:hover:not(:disabled)]:bg-opacity-90 [&amp;:hover:not(:disabled)]:border-opacity-90 [&amp;:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed bg-primary border-primary text-white dark:border-primary px-2 py-1">New
                                    Group</button><button type="button"
                                    class="transition duration-200 border shadow-sm inline-flex items-center justify-center rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&amp;:hover:not(:disabled)]:bg-opacity-90 [&amp;:hover:not(:disabled)]:border-opacity-90 [&amp;:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed border-secondary text-slate-500 dark:border-darkmode-100/40 dark:text-slate-300 [&amp;:hover:not(:disabled)]:bg-secondary/20 [&amp;:hover:not(:disabled)]:dark:bg-darkmode-100/10 px-2 py-1 ml-auto">New
                                    Quick Link</button>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-span-12 lg:col-span-8 2xl:col-span-9">
                    <div class="intro-y box mt-5">
                        <div
                            class="flex items-center p-5 border-b border-slate-200/60 dark:border-darkmode-400">
                            <h2 class="mr-auto text-base font-medium">Profile Information</h2>
                        </div>
                        <div class="p-5">
                            <form id="profile_form">
                                <div class="flex flex-col xl:flex-row">
                                    <div class="flex-1 mt-6 xl:mt-0">
                                        
                                            <div class="grid grid-cols-12 gap-x-5">
                                          
                                                <div class="col-span-12 2xl:col-span-6">
                                                    <div>
                                                        <label for=""
                                                            class="inline-block mb-2 ">Profile Name</label>
                                                        <input id="profile-name" type="text"
                                                        name="profile_name"
                                                            placeholder="Your name..." 
                                                            class="form-control  disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&amp;[readonly]]:bg-slate-100 [&amp;[readonly]]:cursor-not-allowed [&amp;[readonly]]:dark:bg-darkmode-800/50 [&amp;[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80"
                                                            value="Thangadurai">
                                                    </div>
                                                    <div class="mt-3">
                                                        <label for="update-profile-form-2-ts-control"
                                                            class="inline-block mb-2"
                                                            id="">Role
                                                            </label>
                                                        <select id=""
                                                        
                                                        name="profile_role"
                                                            class="tom-select w-full  " data-id="_tuhxhb3bj"
                                                            hidden="true">
                                                            <option value="Senior developer">Senior developer</option>
                                                            <option value="Junior developer">Junior developer</option>
                                                            <option value="Tester">Tester</option>
                                                            <option value="UI/UX Designer">UI/UX Designer</option>
                                                          
                                                        </select>
                                                   
                                                      
                                                    </div>
                                                </div>
                                                <div class="col-span-12 2xl:col-span-6">
                                                    <div class="mt-3 2xl:mt-0"><label
                                                            for="Email"
                                                            class="inline-block mb-2"
                                                            
                                                            >E-mail
                                                            </label><input
                                                            name="profile_email"
                                                            id="email" type="email"
                                                            disabled
                                                            placeholder="Input text"
                                                            class="form-control  disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&amp;[readonly]]:bg-slate-100 [&amp;[readonly]]:cursor-not-allowed [&amp;[readonly]]:dark:bg-darkmode-800/50 [&amp;[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80"
                                                            value="test@novalnetsolutions.com">
                                                        
                                                    </div>
                                                    <div class="mt-3"><label for="profile-contact"
                    
                                                            
                                                            class="inline-block mb-2">Phone Number</label><input
                                                            name="profile_contact"
                                                            id="profile-contact" type="text"
                                                            placeholder="Your Number..."
                                                            class="form-control disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&amp;[readonly]]:bg-slate-100 [&amp;[readonly]]:cursor-not-allowed [&amp;[readonly]]:dark:bg-darkmode-800/50 [&amp;[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80"
                                                            value="987654321"></div>
                                                </div>
                                                <div class="col-span-12">
                                                    <div class="mt-3"><label for="profile-address"
                                                            class="inline-block mb-2">Address</label><textarea
                                                            name="profile_address"
                                                            id="profile-address" placeholder="Your Address..."
                                                            class="form-control  disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&amp;[readonly]]:bg-slate-100 [&amp;[readonly]]:cursor-not-allowed [&amp;[readonly]]:dark:bg-darkmode-800/50 [&amp;[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80">10 Anson Road, International Plaza, #10-11, 079903 Singapore, Singapore</textarea>
                                                    </div>
                                                </div>
                                            </div>   
                                      
                                        <button type="button" id="save_personal_details"
                                            class="btn btn-primary mr-2 flex items-center ml-auto sm:ml-0 mt-3">Save</button>
                                    </div>
                                    <div class="mx-auto w-52 xl:mr-0 xl:ml-6">
                                        <div
                                            class="p-5 border-2 border-dashed rounded-md shadow-sm border-slate-200/60 dark:border-darkmode-400">
                                            <div
                                            id="default-image"
                                                class="relative h-40 mx-auto cursor-pointer image-fit zoom-in">
                                                <img class="rounded-md" 
                                                id="preview_image"
                                                    data-action="zoom"
                                                    style="cursor: pointer;"
                                                    alt="Midone Tailwind HTML Admin Template"
                                                    src="/images/Thangadurai.png">
                                                <button
                                                id="remove-profile-image"
                                                    class="cursor-pointer absolute top-0 right-0 flex items-center justify-center w-5 h-5 -mt-2 -mr-2 text-white rounded-full bg-danger">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                        height="24" viewBox="0 0 24 24" fill="none"
                                                        stroke="currentColor" stroke-width="2"
                                                        stroke-linecap="round" stroke-linejoin="round"
                                                        class="stroke-1.5 w-4 h-4">
                                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                                    </svg></button>
                                            </div>
                                            <div class="relative mx-auto mt-5 cursor-pointer"><button
                                                    type="button"
                                                    class="btn btn-primary mr-2 flex items-center ml-auto sm:ml-0 w-full " >Change
                                                    Photo</button><input type="file"
                                                   
                                                    id="profile_image"
                                                    name="image"
                                                    accept="image/png, image/gif, image/jpeg" 
                                                    style="cursor: pointer;;"
                                                    class=" disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&amp;[readonly]]:bg-slate-100 [&amp;[readonly]]:cursor-not-allowed [&amp;[readonly]]:dark:bg-darkmode-800/50 [&amp;[readonly]]:dark:border-transparent transition duration-200 ease-in-out text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 absolute top-0 left-0 w-full h-full opacity-0">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/confirm_popup.ejs',{modalname : 'backbtn-modal' ,dash_name:false,error_text:"Are you sure you want to leave this page without save ?",cancel_btn:'backbtn_cancel',save_btn:'backbtn_confirm'}) %>
    <%- include('../partials/footer_login.ejs') %>