<div class="modal fade" id="<%= id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Item</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <i class="fa-regular fa-trash-can fa-bounce fa-2xl" style="color: #db1f1f;"></i>
         <span>Are you sure, You want to delete <%= del_name %>?</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id="<%= dele_btn_id %>" type="button" class="btn btn-danger"
          data-bs-dismiss="modal">Delete <%=del_name %></button>
        </div>
      </div>
    </div>
  </div>