<div class="modal fade" id="<%= id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-around">
            <i class="fa-solid fa-xmark fa-beat fa-2xl text-danger"></i>
          <h5 class="modal-title text-danger" id="exampleModalLabel"><%= status %></h5>
        </div>
        
 
         
      </div>
    </div>
  </div>