<div class="modal modal-blur fade" id="NewPasswordModalOpen" tabindex="-1" role="dialog" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"> Set New Password</h3>

        <button id="cancelSetPasswordIcon" type="button" class="btn-close"></button>
      </div>





      <div class="page page-center">
        <div class="container   ">

          <form id="set_new_password" class="card card-md border-0" autocomplete="off" novalidate="">
            <div class="card-body ">

              <p class="text-secondary mb-4">Enter your new Password and confirm password will be reset and password to
                you.</p>

              <div class="mb-2">
                <label class="form-label">
                  Old Password

                </label>
                <div class="input-group input-group-flat">
                  <input id="old_pass" type="password" class="form-control" placeholder="Enter old password"
                    autocomplete="off">
                  <span class="input-group-text">
                    <a id="show_old_password" class="link-secondary" data-bs-toggle="tooltip" aria-label="Show password"
                      data-bs-original-title="Show password">
                      <span id="svg_hide_1"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                          viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                          stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                          <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6">
                          </path>
                        </svg> </span>
                    </a>
                  </span>
                </div>
              </div>
              <p id="old_pass_err" class="error_show"></p>
              <div class="mb-2">
                <label class="form-label">
                  New Password

                </label>

                <div class="input-group input-group-flat">
                  <input id="new_pass" type="password" class="form-control" placeholder="Enter New password"
                    autocomplete="off">
                  <span class="input-group-text">
                    <a id="show_new_password" class="link-secondary" data-bs-toggle="tooltip" aria-label="Show password"
                      data-bs-original-title="Show password">
                      <span id="svg_hide_2"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                          viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                          stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                          <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6">
                          </path>
                        </svg></span>
                    </a>
                  </span>
                </div>
              </div>
              <p id="new_pass_err" class="error_show"></p>
              <div class="mb-3">
                <label class="form-label">Confirm New Password</label>
                <input id="new_conf_pass" type="password" class="form-control" placeholder="Re-Enter  Password">
              </div>
              <p id="conf_pass_err" class="error_show"></p>
              <div class="form-footer">
                <button type="submit" class="btn btn-primary w-100">
                  <!-- Download SVG icon from http://tabler-icons.io/i/mail -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lock" width="44"
                    height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" stroke="#2c3e50"
                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z" />
                    <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0" />
                    <path d="M8 11v-4a4 4 0 1 1 8 0v4" />
                  </svg>
                  Update new password
                </button>
                <div class="my-4">
                  <a id="cancelSetPassword" class="btn  w-100"> Reset</a>

                </div>
              </div>
            </div>
          </form>

        </div>
      </div>




    </div>
  </div>
</div>
<%- include('./successful_modal.ejs',{id:'newPasswordSuccess',status:"New Password Change"}) %>
  <%- include('./errorModal.ejs',{id:'newPasswordError',status:"Password was Incorrect"}) %>