<thead style="text-align: center;">
    <tr>
        <th class="w-1"><input class="form-check-input m-0 align-middle all-ticket-checkbox" type="checkbox" aria-label="Select all tickets"></th>
        <th class="w-1 table-ticket-no text-md-end">
            <button class="table-sort" data-fieldName="ticket_no">Ticket No.</button>
        </th>
        <th class="text-muted">Sub Ticket</th>
        <th class="table-ticket-status" style="text-align: -webkit-center;"><button class="table-sort" data-fieldName="ticket_status_id">Status</button></th>
        <th class="text-muted table-ticket-server w-2">Server</th>
        <th class="text-muted table-ticket-subject w-5">Subject</th>
        <th class="text-muted"><button class="table-sort" data-fieldName="psp_staff_id">Assignees</button></th>
        <th class="text-muted"><button class="table-sort" data-fieldName="ticket_priority_id">Priority</button></th>
        <th class="text-muted"><button class="table-sort" data-fieldName="creation_date">Created At</button></th>
        <th class="text-muted"><button class="table-sort" data-fieldName="last_updated">Last Updated</button></th>
        <th class="text-muted">Action</th>
    </tr>
</thead>