<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="welcome.css">
    <title>dashboard</title>
</head>

<body background="../public/background.jpg">
    <div class="center">
        <div class="container">
            <div>
                <h1>Welcome to dashboard Page </h1>
            </div>
            <div class="flex gap">
                <p>Create a user portal</p>
                <p>View the portal</p>
            </div>
            <div class="flex gap">
                <a href="/dash/create">Create</a>
                <a href="/dash/view/admin">View</a>
            </div>
            <div class="flex gap">
                <p>logout and go home page</p>

            </div>
            <div class="btn">
                <a href="/">Logout</a>

            </div>




        </div>


    </div>


</body>

</html>