<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="forms.css" />
</head>

<body>
    <div class="login-container">
        <img id="image" class="panda_img" src="panda.png" />
        <div class="input_fields">
            <h1>Login Page</h1>
            <div  class="margins">
                <form action="/loginuser"  method="post" id="login_form">
                    <label class="gaps" for="email">Email</label>
                    <input name="email" placeholder="Email" id="email" class="gaps inputs"   type="email"  />
                    <label class="gaps" for="password">Password</label>
                    <input name="password"  placeholder="Password" id="password" class="gaps inputs" type="password" />
                    <p id="para"></p>
                    <input id="showPassword" type="checkbox" class="gaps" > Show Password
                    <div class="centered_button">
                        <button id="btn" class="submit_button" type="submit">Login</button>

                    </div>
                </form>
            </div>
            <div class="text_align">
                <p>Don't have an account ? <a href="./signup">Signup</a></p>

            </div>
        </div>

    </div>
    <div class="home">
        <h3><a class="a_tag" href="/"> < Return to Home page</a></h3>
    </div>
    <script src="login_form.js">
      
    </script>
</body>