<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="pageNotFound.css" >
    <link rel="stylesheet" type="text/css" href="../../create_page.css">
    <title>Document</title>
</head>
<body>
    <div class="center">
        <div class="container">
            <div>
                <h1 class="text">404</h1>
                <h1>Page Not Found</h1>
                <p class="click"><a href="/">Click here</a> to go home page</p>
            </div>
           
        </div>

    </div>
    <div>
   
    </div>
</body>
</html>