<!DOCTYPE html>

<head>
    <meta name="web development">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Portal</title>
    <link rel="stylesheet" type="text/css"  media="screen" href="welcome.css" />


</head>

<body>
    <div class="center">
        <div class="container">
            <h1>Welcome :)</h1>

            <div>
                <h4>Why become a Front-End Developer</h4>
                <pre>
It is fun and creative.

It is flexible - you can work from anywhere!

Many companies are looking for Front-End Developers.
</pre>
            </div>
            <div>
                <h4>What does a Front-End Developer do</h4>
                <pre>
The main responsibility of a Front-End Developer is the User interface.

Simply put, create things that the user sees.</pre>

            </div>
            <hr>
            <div class="flex">
                <a  href="./login">Login</a>
                <a href="./signup">Signup</a>
            </div>
        </div>
    </div>

</body>