<%- include('../partials/header_before_login.ejs') %>
        <div class="card card-md">
          <div class="card-body">
            <div class="d-flex flex-column justify-content-center align-items-center gap-1">
              <div class="lock-icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lock" width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z"></path>
                  <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"></path>
                  <path d="M8 11v-4a4 4 0 1 1 8 0v4"></path>
               </svg>
              </div>
              <h2 class="h2 text-center mb-4">Your account has been locked!</h2>
              <h3 class="form-label text-center">For being inactive for the last 30 minutes, <strong><%= user.email %></strong> please enter the valid password to continue</h3>
            </div>
           <form id="lockScreenForm" method="post" autocomplete="off" novalidate>
              <div class="mb-2">
                <div class="input-group input-group-flat">
                  <input type="password" class="form-control" id="user_password" name="user_password" placeholder="Your password"  autocomplete="off">
                  <span id="show-password" class="input-group-text">
                    <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip"><!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
                    </a>
                  </span>
                  <div id="password_error" class="invalid-feedback"></div>
                </div>
              </div> 
              <div class="form-footer d-flex flex-column align-items-center gap-2">
                <button type="submit" class="btn btn-primary w-100" id="unlock_button"><span class="ms-2">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-key" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M16.555 3.843l3.602 3.602a2.877 2.877 0 0 1 0 4.069l-2.643 2.643a2.877 2.877 0 0 1 -4.069 0l-.301 -.301l-6.558 6.558a2 2 0 0 1 -1.239 .578l-.175 .008h-1.172a1 1 0 0 1 -.993 -.883l-.007 -.117v-1.172a2 2 0 0 1 .467 -1.284l.119 -.13l.414 -.414h2v-2h2v-2l2.144 -2.144l-.301 -.301a2.877 2.877 0 0 1 0 -4.069l2.643 -2.643a2.877 2.877 0 0 1 4.069 0z"></path>
                    <path d="M15 9h.01"></path>
                 </svg>
                </span>Unlock</button>
                <a href="/api/user/logout" class="text-decoration-none">Back to login</a>
              </div>
            </form>
          </div>
        </div> 
<%- include('../partials/footer_before_login.ejs') %>
    
