<!DOCTYPE html>
<html lang="en" class="theme-1">
    <head>
        <meta charset="utf-8">
        <link href="dist/images/logo.svg" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Enigma admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities.">
        <meta name="keywords" content="admin template, Enigma Admin Template, dashboard template, flat admin template, responsive admin template, web app">
        <meta name="author" content="LEFT4CODE">
        <title>Welcome to Novalnet Monitoring Portal</title>
        <link rel="stylesheet" href="/css/app.css" />
        <link rel="stylesheet" href="/css/monitor.css" />
        <style>
              .resend_loader {
                width: 18px;
                height: 18px;
                border-radius: 50%;
                margin-left: 20px ;
                display: none;
                position: relative;
                background: linear-gradient(0deg, rgba(5, 153, 238, 0.2) 33%, rgb(0,128,200) 100%);
                box-sizing: border-box;
                animation: rotation 1s linear infinite;
                }
                .resend_loader::after {
                content: '';  
                box-sizing: border-box;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background: white;
                }


            .loader {
                width: 22px;
                height: 22px;
                margin-right: 10px;
                border: 3px solid #FFF;
                border-bottom-color: transparent;
                border-radius: 50%;
                display: inline-block;
                box-sizing: border-box;
                animation: rotation 1s linear infinite;
                }

                @keyframes rotation {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            } 
            .cursor_progress{
               cursor: progress !important;
            }
            .red-border.form-control:focus{
                box-shadow: none !important;
                border-color: red;
            }
            .red-border{
                border: 1px solid red;
            }
        </style>
    </head>
    <body class="">