<div class="intro-y flex items-center h-10">
        <h2 class="text-lg font-medium truncate mr-5 skeleton skeleton-heading">
        </h2>
        <a href="" class="ml-auto text-primary truncate"></a>
    </div>
    <div class="intro-y mt-5" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;border-radius: 6px;">
        <div class="box p-5">
            <div class="tab-content mt-6">
                <div class="tab-pane active" id="active-users" role="tabpanel" aria-labelledby="active-users-tab">
                    <div class="relative skeleton skeleton-img">
                        <div class="h-[150px] ts2-canvas" id="ts2-canvas">
                        </div>
                        <div class="flex flex-col justify-center items-center absolute w-full h-full top-0 left-0">
                        </div>
                    </div>
                    <div class="w-52 sm:w-auto mx-auto mt-5">
                        <div class="flex items-center skeleton skeleton-text">
                          
                        </div>
                        <div class="flex items-center mt-4 skeleton skeleton-text">
                          
                        </div>
                        <div class="flex items-center mt-4 skeleton skeleton-text">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
