<div class="items-center block h-10 intro-y sm:flex">
    <h2 class="mr-5 text-lg font-medium truncate">Transactions per payment type</h2>
    <select class="disabled:bg-slate-100 disabled:cursor-not-allowed disabled:dark:bg-darkmode-800/50 [&amp;[readonly]]:bg-slate-100 [&amp;[readonly]]:cursor-not-allowed [&amp;[readonly]]:dark:bg-darkmode-800/50 transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md py-2 px-3 pr-8 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 mt-3 sm:ml-auto sm:mt-0 sm:w-auto !box">
        <option value="daily">Daily</option>
        <option value="weekly">Weekly</option>
        <option value="monthly">Monthly</option>
        <option value="yearly">Yearly</option>
        <option value="custom-date">Custom Date</option>
    </select>
</div>
<div class="p-5 mt-12 intro-y box sm:mt-5">
    <div class="flex pb-3 mb-3 border-b border-dashed text-slate-500 border-slate-200 dark:border-darkmode-300">
        <div>Payment type</div>
        <div class="ml-auto">No.of Transaction</div>
    </div>
    <div class="flex items-center mb-5">
        <div class="flex items-center">
            <div>Credit card payment</div> 
        </div>
        <div class="ml-auto">14500</div>
    </div>
    <div class="flex items-center mb-5">
        <div class="flex items-center">
            <div>Direct debit (SEPA)</div> 
        </div>
        <div class="ml-auto">12032</div>
    </div>
    <div class="flex items-center mb-5">
        <div class="flex items-center"><div>Prepayment / Payment by invoice</div></div>
        <div class="ml-auto">12000</div>
    </div>
    
    <div class="flex items-center mb-5">
        <div class="flex items-center"><div>Apple Pay</div></div>
        <div class="ml-auto">10005</div>
    </div>
    <div class="flex items-center mb-5">
        <div class="flex items-center">
            <div>Sofort online bank transfer</div> 
        </div>
        <div class="ml-auto">9568</div>
    </div>
    <div class="flex items-center mb-5">
        <div class="flex items-center"><div>	Google Pay</div></div>
        <div class="ml-auto">9156</div>
    </div>
    <div class="flex items-center mb-5">
        <div class="flex items-center"><div>PayPal</div></div>
        <div class="ml-auto">5156</div>
    </div>
    <button class="transition duration-200 border shadow-sm inline-flex items-center py-2 px-3 rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&amp;:hover:not(:disabled)]:bg-opacity-90 [&amp;:hover:not(:disabled)]:border-opacity-90 [&amp;:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed text-slate-500 dark:text-slate-300 [&amp;:hover:not(:disabled)]:bg-secondary/20 [&amp;:hover:not(:disabled)]:dark:bg-darkmode-100/10 relative justify-start w-full mb-2 border-dashed border-slate-300 dark:border-darkmode-300">
        <span class="mr-5 truncate">View Full Report</span>
        <span class="w-8 h-8 absolute flex justify-center items-center right-0 top-0 bottom-0 my-auto ml-auto mr-0.5">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="stroke-1.5 w-4 h-4">
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
        </span>
    </button>
</div>