<%- include('./components/head.ejs',{title :'Signup'}) %>

<body class=" d-flex flex-column">
    <%- include('./components/home.ejs') %>
    <div class="page page-center">
      <div class="container container-tight py-4">
        <div class="text-center mb-4">
          <a href="javascript:vopid(0)" class="navbar-brand navbar-brand-autodark">
            <img src="assets/logo.svg" width="110" height="32" alt="Tabler" class="navbar-brand-image">
          </a>
        </div>
        <form id="signupForm" class="card card-md" action="/signupSubmit" method="get" autocomplete="off" novalidate="">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Create new account</h2>
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input name="name" id="name" type="text" class="form-control" placeholder="Enter name">
            </div>
            <p id="name_err" class="error_show"></p>
            <div class="mb-3">
              <label class="form-label">Email address</label>
              <input id="email" name="email" type="email" class="form-control" placeholder="Enter email">
            </div>
            <p id="email_err" class="error_show"></p>
            <div class="mb-3">
              <label class="form-label">Password</label>
              <div class="input-group input-group-flat">
                <input id="password" name="password" type="password" class="form-control" placeholder="Password" autocomplete="off">
                <span class="input-group-text">
                  <a id="show_password" class="link-secondary" data-bs-toggle="tooltip" aria-label="Show password" data-bs-original-title="Show password"><!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                    <span id="eye_icon_signup"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"></path></svg></span>
                  </a>
                </span>
              </div>
            </div>
            <p id="error_show" class="error_show"></p>
            <div class="mb-3">
                <label class="form-label">Confirm Password</label>
                <input name="confirm_password" id="confirm_password" type="password" class="form-control" placeholder="Write password again" autocomplete="off">
              </div>
              <p id="confirm_err" class="error_show"></p>
            <div class="mb-3">
              <label class="form-check">
                <input name="checkbox" id="checkbox" type="checkbox" class="form-check-input" checked>
                <span class="form-check-label">Agree the <a  tabindex="-1">terms and policy</a>.</span>
              </label>
            </div>
            <div class="form-footer">
              <button type="submit" class="btn btn-primary w-100">Create new account</button>
            </div>
          </div>
        </form>
        <div class="text-center text-secondary mt-3">
          Already have account? <a href="/signin" tabindex="-1">Sign in</a>
        </div>
      </div>
    </div>
    <%- include('./components/successful_modal.ejs',{id:'signupSuccess',status:"Register"})  %>
    <%- include('./components/errorModal.ejs',{id:'signupError',status:"Internal Server Error"})  %>

    <script src="assets/fontawesome/js/all.js"></script>
    <script src="jquery/jQuery.js" defer=""></script>
    <script src="assets/bootstrap/js/bootstrap.js"></script>
    <script src="script/signup.js" defer=""></script>
</body>