<%- include('./components/head.ejs',{title :'welcome'}) %>
<body>
    <div class=" d-flex align-items-center justify-content-center bg-secondary-subtle" style="height: 100vh;"  >
       <div class="shadow p mb bg-white  rounded-4" style="width: 500px; height: 500px;">
            <div style="height: 100%;"class="d-flex flex-column align-items-center justify-content-around " >
                <div>
                    <img class="rounded-circle" width="150px" height="150px" src="assets/rocket.avif">
                </div>
                <div class="text-center">
                    <h4>Hey Levi </h4>
                    <h4>welcome to our app</h4>
                </div>
                <div class="text-center">
                    <p>Let's start with quick product tour and we will have</p>
                    <p>you up and running in no time!</p>
                </div>
                <div class="d-flex justify-content-around" style="width: 100%;">
                    <a class="a_tag" href="/signin"> SignIn </a>
                    <a class="a_tag "  href="/signup"> SignUp </a>
                </div>

            </div>
       </div>
    </div>
</body>
</html>